{
  "subscription_id": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "client_id": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "client_secret": "XXXXXXXXXXX~XXXXXXXXXXXXXXXXXXXXXX",
  "tenant_id": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "ssh_user": "XXXXXXXX",
  "ssh_password": "XXXXXXXXX"
}